---
import Layout from "../layouts/Layout.astro";
import Ping from "@/sections/Ping.astro";
import Header from "@/sections/Header.astro";
import Info from "@/sections/Info.astro";
---

<Layout>
  <Header />
  <main class="flex flex-col justify-center items-center">
    <Ping />
    <Info />
  </main>
</Layout>

<style></style>
