---
import Layout from "../layouts/Layout.astro";
import Ping from "@/sections/Ping.astro";
---

<Layout>
  <!-- <Header /> -->
  <main>
    <h1 class="text-center text-7xl p-10 font-extrabold">Laggy or Not</h1>
    <Ping client:load />
  </main>
</Layout>

<style></style>
