---

---

<footer class="bg-secondary/50 text-center rounded-t-xl p-2 mt-5 text-lg">
  <p>
    Made with &hearts; by <a
      href="https://tsuramii.github.io/tsuramii/"
      target="_blank"
      class="underline underline-offset-1 hover:text-accent transition-colors"
      >tsu</a
    >
  </p>
</footer>
