---
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Laggy or Not</title>
  </head>
  <body
    class="font-notosans h-svh flex justify-center items-center bg-background text-content dark:bg-content dark:text-background">
    <slot />
  </body>
</html>
