---
import "@/styles/globals.css";
import "@fontsource-variable/noto-sans";
---

<html lang="en" class="bg-background">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Laggy or Not - Ping and Network Latency Checker</title>
    <meta
      name="description"
      content="Check your internet connection's ping and network latency with this simple 'Laggy or Not' app. Optimize your online gaming experience."
    />
    <meta
      name="keywords"
      content="ping check, network latency, internet speed, lag checker, online gaming, remote work, connectivity test"
    />
    <link rel="canonical" href="https://dot-tsu.github.io/laggy-or-not/" />
    <meta
      property="og:title"
      content="Laggy or Not - Free Ping and Network Latency Checker"
    />
    <meta
      property="og:description"
      content="Check your internet connection's ping and network latency with this simple 'Laggy or Not' app. Optimize your online gaming experience."
    />
    <meta property="og:url" content="https://dot-tsu.github.io/laggy-or-not/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="Laggy or Not - Free Ping and Network Latency Checker"
    />
    <meta
      name="twitter:description"
      content="Check your internet connection's ping and network latency with this simple 'Laggy or Not' app. Optimize your online gaming experience."
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Tsu" />
    <meta name="copyright" content="© 2023 Tsu. All rights reserved." />
    <meta name="rating" content="general" />
    <meta name="revisit-after" content="7 days" />
    <meta name="theme-color" content="#000000" />
  </head>
  <body
    class="font-sans min-h-svh max-w-svw bg-[url('/laggy-or-not/background.svg')] bg-cover bg-center text-content bg-fixed">
    <slot />
  </body>
</html>
